// General

$base-unit: 'em' !default;
$site-width: 50#{$base-unit};
$baseline: 1#{$base-unit};
$bower: "../bower_components/";

// Color

$color-base: #333;
$color-link: #619CCF;
$color-highlight: #EEEE8F;
$color-muted: lighten($color-base, 55%);
$color-code: brown;

// Typography

$font-size-base: 16px;
$line-height: 1.618;
$margin-top: $baseline;
$margin-bottom: $baseline;

$font-sans-regular: 'PT Sans', sans-serif;
$font-serif-regular: 'Georgia', serif;
$font-monospace-regular: 'Menlo', Inconsolata, Consolas, Monaco, monospace;

$headings-color: $color-base;
$headings-margin-bottom: $margin-bottom;
$headings-line-height: 1.125;

$font-size-h1: 2.225#{$base-unit};
$font-size-h2: 1.718#{$base-unit};
$font-size-h3: 1.375#{$base-unit};
$font-size-h4: 1#{$base-unit};
$font-size-h5: 1#{$base-unit};
$font-size-h6: 1#{$base-unit};

$indented-paragraphs: false !default;

// Grid

$column-count: 12;
$gutter: 3%;

// Button

$button-roundness: 0.236#{$base-unit};

$button-small-font-size: 0.818#{$base-unit};
$button-large-font-size: 1.125#{$base-unit};

$button-default-bg: #bbb;
$button-default-text-color: #333;

$button-primary-bg: #0078E7;
$button-primary-text-color: lighten($button-primary-bg, 50%);

// Form

$field-border-color: #ccc;
$field-error-color: brown;
$field-required-color: brown;

// Icons

$icon-roundness: 3.778px;
$icon-border-color: #333;

// Feedback

$color-information: #439ccf;
$color-error: #e72915;
$color-warning: #d35400;
$color-success: #74a730;
