/*
 * Feedback 
 */

[class^="alert-"] {
	margin: 1em 0;
	padding: 0.618em;
	border: 1px solid;
	border-bottom-width: 3px;

	p {
		margin: 0;
	}
}

@mixin alert-generator($color) {
	border-color: lighten($color, 30%);
	background-color: lighten($color, 45%);

	strong {
		color: $color;
	}
}

.alert-information {
	@include alert-generator($color-information);
}

.alert-error {
	@include alert-generator($color-error);
}

.alert-warning {
	@include alert-generator($color-warning);
}

.alert-success {
	@include alert-generator($color-success);
}
