/*
 * Forms 
 */

.field-group {
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;	
	}

	label {
		font-weight: bold;
	}

	textarea {
		width: 100%;	
	}

	input:not([type="radio"]):not([type="checkbox"]) {
		display: block;
	}

	input:not([class^="button"]),
	textarea {
		padding: 0.218#{$base-unit};
		border: 1px solid $field-border-color;	

		&:focus,
		&:hover {
			border-color: darken($field-border-color, 15%);	
			outline: none;
		}

		&.field-fw {
			width: 100%;	
		}
	}

	.help {
		font-size: 0.718em;
		margin: 0.618em 0 0;
	}

	.form-help {
		margin-top: 0.618em;
		color: $color-muted;
		font-size: 0.818em;
		font-style: italic;
	}
}

.field-error {
	label,
	.help,
	input {
		color: $field-error-color;
		border-color: lighten($field-error-color, 40%) !important;
	}
}

.required {
	color: $field-required-color;
}

fieldset {
	margin-bottom: 1em;
	border: 1px solid $field-border-color;

	legend {
		padding: 0 0.618em;
		font-weight: bold;
	}

	p:last-child {
		margin-bottom: 0;	
	}
}	
