$gutter: 1%;
@include namespace('col-');

// Libsass fix to this: http://sass-compatibility.github.io/#nested_interpolations
[class^="col-"]:first-child {
  margin-left: 0;
}

.col-1-1 {
	width: 100%;
}

.col-1-2 {
  @include fraction(1/2);
}

.col-1-3 {
  @include fraction(1/3);
}

.col-1-4 {
  @include fraction(1/4);
}

#main {
  @include cols(8, 0);
}

#sidebar {
  @include cols(4);
}
